@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

.leaflet-grab {
    cursor: auto;
 }
 .leaflet-marker-icon:hover {
      cursor: move;
 }
 .leaflet-dragging .leaflet-grab{
    cursor: move;
 }
 
 